# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/

# Environment & secrets
.env
.env.*
keys.json
config.json
*.pem
*.key
*.crt

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.override.yml

ccxt/
